<IfModule mod_rewrite.c>
RewriteEngine On

#RewriteRule  ^/js/(.*)\.js$ assets/js/$1
#RewriteRule  ^/css/(.*)\.css$ assets/css/$1

#RewriteCond   %{HTTP_HOST}  \.intelllex\.com$
#RewriteRule  ^/css/(.*)$ assets/css/$1
#RewriteRule  ^/js/(.*)$ assets/js/$1

# RewriteCond %{HTTP_HOST} ^intelllex.com
# RewriteCond %{HTTP_HOST} ^www.intelllex.com
# RewriteCond %{REQUEST_URI} !^user.php$
# RewriteCond %{REQUEST_URI} !^admin.php$
# RewriteCond %{REQUEST_URI} !^signup.php$
# RewriteCond %{REQUEST_URI} .php$
#RewriteRule (.*).php$ HTTP://intelllex.com/$1/ [R]
# RewriteRule (.*).php$ HTTP://www.intelllex.com/$1/ [R]

# BEGIN WordPress
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
