<!doctype html>
<html lang="en" ng-app='itApp'>
<head>
	<meta charset="UTF-8"/>
	<!-- <base href='/'> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="./css/styles.css"/> -->
	<!-- <link rel="stylesheet" href="/css/style.css"/> -->
	<!-- <link rel="stylesheet" href="./css/style.css"/> -->
	<link rel="stylesheet" href="./css/don.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.min.js"></script> -->
</head>
<body ng-controller="AppController">
	<div id="wrapper">
		<div class="header">
			<div class="title-container">
				<!-- <div id="logo"><a href="http://intelllex.com">INTELLLEX</a></div>
				<div id="tagline">Get a Headstart in your Legal Research</div>  -->
				<!--END .title-container-->
			</div>
		</div>

		<div class="container container-center row">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="inputType" class="col-md-2 control-label">User</label>
					<div class="col-md-3 btn-group" role="group" aria-label="...">
						<!-- <button id="form-choice-student" type="button" class="btn btn-success" ng-click="setStudent()">Student</button> -->
						<!-- <button id="form-choice-student" type="button" class="btn btn-success" ng-click="setUserType('student, $flow')">Student</button> -->
						<button id="form-choice-student" type="button" class="btn btn-success" ng-click="setUserType('student')">Student</button>
						<!-- <button id="form-choice-student" type="button" class="btn btn-success" ng-click="studentShow = !studentShow">Student</button> -->
						<!-- <button id="form-choice-practictioner" type="button" class="btn btn-success">Practictioner</button> -->
						<button id="form-choice-practictioner" type="button" class="btn btn-success" ng-click="setUserType('practictioner')">Practictioner</button>
						<!-- <button id="form-choice-practictioner" type="button" class="btn btn-success" ng-click="PractictionerShow = !PractictionerShow">Practictioner</button> -->
					</div>
				</div>
				<form id="student-form" ng-show="studentShow" class="form-horizontal" role="form" ng-submit="editStudent(student)">
					<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Student</span>
					<!-- <div class="form-group">
						<label id="student-photo-label" for="inputType" class="col-md-2 control-label">Upload Recent Photo</label>

						<div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="col-md-3">
							<div class="thumbnail" ng-show="!$flow.files.length">
								<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
							</div>
							<div class="thumbnail" ng-show="$flow.files.length">
								<img flow-img="$flow.files[0]" />
							</div>
							<div>
								<span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Select image</span>
								<span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>
								<span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
									Remove
								</span>
							</div>
							<p>Only PNG,GIF,JPG,JEPG files allowed.</p>
						</div>
					</div> -->

					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Education</span>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Institution</label>
							<div class="col-md-3">
								<input type="text" ng-model="student.institution" class="form-control" id="inputType" placeholder="Institution">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Graduation Year</label>
							<div class="col-md-3 dropdown">
								<!-- <button ng-model="student.graduationYear" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false"> -->
								<button class="btn btn-primary dropdown-toggle" type="button" id="graduationYear" data-toggle="dropdown" aria-expanded="false">
									<!-- Year -->
									{{graduationYear}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu year-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="year in years track by $index" role="presentation">
										<a ng-click="setGraduationYear(year)" role="menuitem">{{year}}</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Degree Earned</label>
							<div class="col-md-3">
								<input ng-model="student.degree" type="text" class="form-control" id="inputType" placeholder="Degree Earned">
							</div>
						</div>
					</div>
					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Work Experience</span>
						<!-- <button type="button" class="btn btn-default" aria-label="Left Align" style="vertical-align: text-bottom;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: black;"></span>
						</button> -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Company</label>
							<div class="col-md-3">
								<input ng-model="student.company" type="text" class="form-control" id="inputType" placeholder="Company">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">From</label>
							<div class="col-md-1 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="monthFrom" data-toggle="dropdown" aria-expanded="false">
									<!-- Month -->
									{{monthFrom}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu month-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="month in months track by $index" role="presentation">
										<!-- <a ng-click="setMonthFrom($index)" role="menuitem" tabindex="-1" value="$index">{{month}}</a> -->
										<a ng-click="setMonthFrom(month)" role="menuitem">{{month}}</a>
									</li>
								</ul>
							</div>
							<div class="col-md-3 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="yearFrom" data-toggle="dropdown" aria-expanded="false">
									<!-- Year -->
									{{yearFrom}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu year-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="year in years track by $index" role="presentation">
										<a ng-click="setYearFrom(year)" role="menuitem">{{year}}</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">To</label>
							<div class="col-md-1 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="monthTo" data-toggle="dropdown" aria-expanded="false">
									<!-- Month -->
									{{monthTo}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu month-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="month in months track by $index" role="presentation">
										<a ng-click="setMonthTo(month)" role="menuitem">{{month}}</a>
									</li>
								</ul>
							</div>
							<div class="col-md-3 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="yearTo" data-toggle="dropdown" aria-expanded="false">
									<!-- Year -->
									{{yearTo}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu year-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="year in years track by $index" role="presentation">
										<a ng-click="setYearTo(year)" role="menuitem">{{year}}</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Supervisor Name</label>
							<div class="col-md-3">
								<input ng-model="student.supervisor" type="text" class="form-control" id="inputType" placeholder="Supervisor">
							</div>
						</div>
					</div>
					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Mooting Experience</span>
						<!-- <button type="button" class="btn btn-default" aria-label="Left Align" style="vertical-align: text-bottom;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: black;"></span>
						</button> -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Competition Name</label>
							<div class="col-md-3">
								<input ng-model="student.competitionName" type="text" class="form-control" id="inputType" placeholder="Mooting Competition Name">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Result</label>
							<div class="col-md-3">
								<input ng-model="student.competitionResult" type="text" class="form-control" id="inputType" placeholder="Result">
							</div>
						</div>
					</div>
					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Publications</span>
						<!-- <button type="button" class="btn btn-default" aria-label="Left Align" style="vertical-align: text-bottom;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: black;"></span>
						</button> -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Publication Name</label>
							<div class="col-md-3">
								<input ng-model="student.publicationName" type="text" class="form-control" id="inputType" placeholder="Publication Name">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Publication Type</label>
							<div class="col-md-3 dropdown">
								<!-- <button ng-model="student.publicationType" class="btn btn-primary dropdown-toggle" type="button" id="publicationType" data-toggle="dropdown" aria-expanded="false"> -->
								<button class="btn btn-primary dropdown-toggle" type="button" id="publicationType" data-toggle="dropdown" aria-expanded="false">
									<!-- Type -->
									{{publicationType}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="publicationType">
									<li ng-repeat="type in types track by $index" role="presentation">
										<a ng-click="setPublicationType(type)" role="menuitem">{{type}}</a>
									</li>
									<!-- <li role="presentation"><a ng-click="setPublicationType('Journal')" role="menuitem" tabindex="-1">Journal</a></li>
									<li role="presentation"><a ng-click="setPublicationType('Online Article')" role="menuitem" tabindex="-1">Online Article</a></li> -->
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">URL (if any)</label>
							<div class="col-md-3">
								<input ng-model="student.publicationUrl" type="text" class="form-control" id="inputType" placeholder="">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Citation (if any)</label>
							<div class="col-md-3">
								<textarea ng-model="student.publicationCitation" type="text" class="form-control" id="inputType" placeholder="" cols="50" rows="4"></textarea>
							</div>
						</div>
					</div>
					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Other Relevant Experience</span>
						<!-- <button type="button" class="btn btn-default" aria-label="Left Align" style="vertical-align: text-bottom;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: black;"></span>
						</button> -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Qualification</label>
							<div class="col-md-3 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="otherQualification" data-toggle="dropdown" aria-expanded="false">
									<!-- Qualification -->
									{{qualification}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="qualification in qualifications track by $index" role="presentation">
										<a ng-click="setQualification(qualification)" role="menuitem">{{qualification}}</a>
									</li>
									<!-- <li role="presentation"><a role="menuitem" tabindex="-1">CFA Level 1</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1">CFA Level 2</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1">CFA Level 3</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1">CPA</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1">MBBS</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1">Others</a></li> -->
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Qualification (Others)</label>
							<div class="col-md-3">
								<input ng-model="student.otherQualification" type="text" class="form-control" id="inputType" placeholder="Other Qualification">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Year Attained</label>
							<div class="col-md-3 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="otherYear" data-toggle="dropdown" aria-expanded="false">
									<!-- Year -->
									{{otherYear}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu year-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="year in years track by $index" role="presentation">
										<a ng-click="setOtherYear(year)" role="menuitem">{{year}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- <button type="button" class="btn btn-success" aria-label="Submit">Submit</button> -->
					<input type="submit" value="Submit" class="btn btn-success">
				</form>

				<!-- <form id="practictioner-form" ng-show="practictionerShow" class="form-horizontal" role="form" style="display:none;"> -->
				<form id="practictioner-form" ng-show="practictionerShow" class="form-horizontal" role="form" ng-submit="editPractictioner(practictioner)">
					<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Practitioner</span>
					<!-- <div class="form-group">
						<label for="inputType" class="col-md-2 control-label">Upload Recent Photo</label>
						<div class="col-md-3">
							<input type="file" name="fileToUpload" id="signup-photo-upload" class="form-control">
						</div>
					</div> -->
					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Admissions</span>
						<!-- <button type="button" class="btn btn-default" aria-label="Left Align" style="vertical-align: text-bottom;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: black;"></span>
						</button> -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Jurisdiction</label>
							<div class="col-md-3 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
									<!-- Jurisdiction -->
									{{jurisdiction}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="jurisdiction in jurisdictions track by $index" role="presentation">
										<a ng-click="setJurisdiction(jurisdiction)" role="menuitem">{{jurisdiction}}</a>
									</li>
									<!-- <li role="presentation"><a role="menuitem" tabindex="-1" value="AUS">Australia</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="CAN">Canada</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="EUR">Europe</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="HK">Hong Kong</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="IN">India</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="MY">Malaysia</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="NZ">New Zealand</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="SG">Singapore</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="UK">United Kingdom</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" value="Others">Others</a></li> -->
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Other Jurisdiction</label>
							<div class="col-md-3">
								<input ng-model="practictioner.otherJurisdiction" type="text" class="form-control" id="inputType" placeholder="Other Jurisdiction">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Year of Admission</label>
							<div class="col-md-3 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
									<!-- Year -->
									{{admissionYear}}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu year-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="year in years track by $index" role="presentation">
										<a ng-click="setAdmissionYear(year)" role="menuitem">{{year}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Area of Expertise/Practice</span>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Areas</label>
							<div class="col-md-3">
								<input ng-model="practictioner.area" type="text" class="form-control" id="inputType" placeholder="Areas">
							</div>
						</div>
					</div>
					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Industries</span>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Industries</label>
							<div class="col-md-3">
								<input ng-model="practictioner.industry" type="text" class="form-control" id="inputType" placeholder="Industries">
							</div>
						</div>
					</div>

					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Awards / Citations</span>
						<!-- <button type="button" class="btn btn-default" aria-label="Left Align" style="vertical-align: text-bottom;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: black;"></span>
						</button> -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Award Name</label>
							<div class="col-md-3">
								<input ng-model="practictioner.awardName" type="text" class="form-control" id="inputType" placeholder="Award Name">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Year Awarded</label>
							<div class="col-md-3 dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
									Year
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu year-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								</ul>
							</div>
						</div>
					</div>

					<div class="well">
						<span style="font-weight: bold;margin-bottom: 1em;display: inline-block;font-size: 150%;margin-right: 1em;">Publications hihi</span>
						<!-- <button type="button" class="btn btn-default" aria-label="Left Align" style="vertical-align: text-bottom;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: black;"></span>
						</button> -->
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Publication Name</label>
							<div class="col-md-3">
								<input ng-model="student.publicationName" type="text" class="form-control" id="inputType" placeholder="Publication Name">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Publication Type</label>
							<div class="col-md-3 dropdown">
								<button ng-model="student.publicationType" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
									Type
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li role="presentation"><a role="menuitem" tabindex="-1">Journal</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1">Online Article</a></li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">URL (if any)</label>
							<div class="col-md-3">
								<input ng-model="student.publicationUrl" type="text" class="form-control" id="inputType" placeholder="">
							</div>
						</div>
						<div class="form-group">
							<label for="inputType" class="col-md-2 control-label">Citation (if any)</label>
							<div class="col-md-3">
								<textarea ng-model="student.publicationCitation" type="text" class="form-control" id="inputType" placeholder="" cols="50" rows="4"></textarea>
							</div>
						</div>
					</div>
					<!-- <button type="button" class="btn btn-success" aria-label="Submit">Submit</button> -->
					<input type="submit" value="Submit" class="btn btn-success">
				</form>
			</div>
		</div><!--END .container-->
	</div><!--END #wrapper-->


	<div class="content-bottom">
	</div>


	<!--<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="./js/ng-flow-standalone.min.js" type="text/javascript"></script>
	<script src="./js/script.js" type="text/javascript"></script>
	<script src="./js/app.js" type="text/javascript"></script>
</body>
</html>