.bodyHeight {
	height: 100vh;
}
.jur-cbx-align {
	margin-left: 10px;
}
#header {
    padding: 1em 0;
    height: auto;
}
em {
	font-weight: 600; font-style: italic; color:brown;
}
.search-term-url{
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #777;
}
.search-term-url:before{
	content: '\2014 \00A0';
}

